body {
    font-family: 'Oswald', sans-serif;
    background-color: rgb(75, 83, 76);
    margin: 0px;
    text-align: center;
    color: #e6a630;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 1px 1px  black;
}
.card-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
.card{
display: flex;
margin: 5px;
text-shadow: none;

}
form {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
}

form button {
    margin-top: 10px;
}

/* For the star rating */


.star-rating {
    font-size: 24px;
    cursor: pointer;
}

.star {
    color: #ccc;
}

.star.selected {
    color: #ffcc00;
}
/* For the new and edit forms */
form {
display: flex;
justify-content: center;
flex-direction: column;
}
.note-div {
display: flex;
justify-content: center;
flex-direction: column;
margin-left: 6%
}
.inside-form{
display: flex;
justify-content: center;
flex-direction: column;
}
.all-form{
    display: flex;
    justify-content: center;
    flex-direction: row;


}
.form-container {

    
    width: 50%; 
    margin: auto;
    margin-top: 60px;
    padding: 20px;
    transform: scale(1.2);
    transform-origin: center;
background-color: rgb(28, 32, 32);
border-radius: 10%;
max-width: 40%;
}
/* For the show page */

.show-body-div {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
background-color: gray;
padding-left: 10px;
color: aliceblue;
text-shadow: 2px 2px 2px black;
margin: 5px;
border-radius: 5px;
padding: 5px;
}

.img-show-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    color: rgb(52, 53, 53);
    text-shadow: none;
}
.show-card{
    display: flex;
    flex-direction: row;
width: 100%;
background-color: rgb(15, 15, 15);
}
.width-increase{
    width: 100%;
    
}

.show-body-div > p,h5,h6{
    font-size: 1.7rem;
    
}
.show-notes{
    display: block;
    background-color: lightgray;
    font-size: 1.7rem;
    max-width: 100%;
    color: rgb(52, 53, 53);
    text-shadow: none;
}
.show-buttons {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
}
.show-buttons > .btn, form {
    flex: 1;
    width: 50%;
    height: 100%;
}
.show-buttons > form {
    display: flex;
}
.show-buttons > form > .btn {
    flex: 1;
    width: 100%;
    height: 100%;
}
/* For the home page */
.home-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    font-size: 2rem;
  
}
.home-container > h1 {
    font-size: 5rem;

  
}
blockquote {
    font-size: 1.5rem;
    font-style: italic;
    color: #ffcc00;
    text-shadow: 2px 2px 2px black;
   
}

.form-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
/* For index */

.card-body-index {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    color: rgb(52, 53, 53);
    text-shadow: none;

}
.card-img-index {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    color: rgb(52, 53, 53);
    text-shadow: none;

}
.card-container-index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#7c660e;
}