body {
    background-color: rgb(75, 83, 76);
    margin: 0px;
    text-align: center;
    color: #ead3d3;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
.card{
display: flex;
margin: 5px;


}
form {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
}

form button {
    margin-top: 10px;
}

